@font-face {
    font-family: Source;
    src: url('/font-family/SourceSansPro-Bold.ttf');
}

body {
    background-image: url('/img/background.jpg');
    margin: 0;
    font-family: Source, sans-serif;
    font-size: larger;
}

h1, h2, h3 {
    margin: 0;
    flex-basis: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

/*#region header*/
#header {
    width: 100%;
    background-color: #5f9ea0;
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#header-logo {
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
}

#header-logo img {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav li {
    flex: 1 1 0;
    display: flex;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 15px;
    box-sizing: border-box;
}

nav a:hover {
    color: black;
    background: #4f8283;
}

#menu-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        width: 100%;
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }

    nav li {
        display: block;
        text-align: center;
    }

    nav li a{
        display: block;
        padding: 5px;
    }

    nav li a:hover, nav li a:focus{
        background: #4f8283;
        color: black;
    }

    #header-logo {
        width: 49%;
        justify-content: flex-start;
    }

    #menu-icon {
        order: 1;
        height: 50px;
        width: 49%;
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
    }

    #menu-icon a{
        padding: 0 5px;
        display: flex;
        align-items: center;
    }

    #menu-icon a:hover, #menu-icon a:focus{
        background: #4f8283;
    }

    #menu-icon img {
        height: 45px;
    }

}

/*#endregion*/

/*#region general*/
main {
    padding: 30px 2%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.content section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 65%;
}

.content aside {
    display: inline-block;
    flex-basis: 35%;
}

.content h2 {
    margin: 20px 0 10px 0;
}

button {
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 12px;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #4f8283;
}

a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

a:hover, a:focus {
    color: #555;
    cursor: pointer;
}

.divider{
    width: 100%;
}
/*#endregion*/

.championship-status{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 100%;
}

.championship-status p{
    flex-basis: 100%;
}

.championship-status a, .teams section form a {
    background-image: linear-gradient(to bottom left, #004bff, #004bff 35%, #ff1b00 65%, #ff1b00);
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
    margin: 0 20px 20px 0;
    box-sizing: border-box;
}

.championship-status a:hover, .championship-status a:focus,
.teams section form a:hover, .teams section form a:focus {
    background-image: linear-gradient(to bottom left, #0034b1, #0034b1 35%, #cc1600 65%, #cc1600);
    cursor: pointer;
    color: black;
}

.championship-status a:visited, .teams section form a:visited {
    color: black;
}

.players aside table {
    width: 100%;
}

.players aside td {
    padding: 10px 0;
}
