<div th:fragment="header" id="header">
    <a href="/fifa/championship" id="header-logo"><img th:src="@{/img/fifa-logo.png}"></a>

    <div id="menu-icon">
        <a><img th:src="@{/img/menu-icon.png}"></a>
    </div>

    <nav id="menu">
            <ul>
                <li><a href="/fifa/team">Teams</a></li>
                <li><a href="/fifa/player">Players</a></li>
                <li><a href="/fifa/championship">Championship</a></li>
            </ul>
    </nav>
</div>

<div th:fragment="favicon" id="favicon">
    <link rel="shortcut icon" href="/img/favicon.ico"/>
</div>