<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fifa Championship</title>
</head>
<body>
<form action="/choose-teams" method="post">
    <label for="user">The name of the owner:</label>
    <input id="user" name="user">
    <button type="submit">Save teams</button>
    <table>
        <tr th:each="team : ${teamList}" th:object="${choosenTeams}">
            <td><label for="name" th:text="${team}"/></td>
            <td><input type="checkbox" th:value="${team}" th:field="*{teams}"></td>
        </tr>
    </table>
</form>

</body>
</html>