<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fifa Championship</title>
    <link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
    <div th:replace="fragments :: favicon"/>
</head>

<body>
<div class="container">

    <div th:replace="fragments :: header"/>

    <main class="player content">

        <h2 th:text="${playerName}"/>

        <table>
            <th>Teams:</th>
            <tr th:each="team : ${teamList}">
                <td th:text="${team}"/>
                <td th:if="${ongoingTeamSelection}"><a th:href="'/fifa/team/delete/' + ${team} + '?player=' + ${playerName}">DELETE</a></td>
            </tr>
        </table>

    </main>

</div>

<script th:src="@{/app.js}" type="text/javascript"></script>
</body>
</html>