<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fifa Championship</title>
</head>
<body>
<div th:replace="fragments :: header"/>
<div th:replace="fragments :: navBar"/>


    <h2 th:text="${playerName}"/>
    <table>
        <th>Teams:</th>
        <tr th:each="team : ${teamList}">
            <td th:text="${team}"/>
            <td th:if="${ongoingTeamSelection}"><a th:href="'/fifa/team/delete/' + ${team} + '?player=' + ${playerName}">DELETE</a></td>
        </tr>
    </table>


</body>
</html>