<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fifa Championship</title>
    <link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
</head>

<body>
<div class="container">

<div th:replace="fragments :: header"/>

<main class="teams content">

    <div th:if="${ongoingTeamSelection}" class="championship-status">
        <a href="/fifa/championship/first-draw">START FIRST ROUND</a>
    </div>

    <section>
        <form th:if="${ongoingTeamSelection}" action="/fifa/team" method="post">

            <p th:if="${invalidNumberError}" style="color: red">This number of teams can't be used. It should be power of two (eg. 16, 32, 63...)</p>

            <h2>Choose new teams:</h2>

            <label for="player">Player name:</label>
            <select id="player" name="player">
                <option th:each="player : ${playerList}" th:text="${player.key}"/>
            </select>
            <button type="submit">Save teams</button>
            <table>
                <tr th:each="team : ${teamList}" th:object="${chosenTeams}">
                    <td><label for="name" th:text="${team}"/></td>
                    <td><input type="checkbox" th:value="${team}" th:field="*{teams}"></td>
                </tr>
            </table>
        </form>

        <div class="championship-status" th:unless="${ongoingTeamSelection}">
            <p>There is an ongoing championship at the moment.<br>
            If you start a new Championship, the current team selections and matches will be deleted.</p>
            <a href="/fifa/championship/new">NEW CHAMPIONSHIP</a>
        </div>
    </section>

    <aside>
        <h2>Check player</h2>
        <table>
            <tr th:each="player : ${playerList}">
                <td><a th:href="'/fifa/player/' + ${player.key}" th:text="${player.key}"/></td>
                <td th:text="${player.value}"/>
            </tr>
        </table>
    </aside>

</main>

</div>

<script th:src="@{/app.js}" type="text/javascript"></script>
</body>
</html>